<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}D I S S I D A N C E{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    {% endblock %}


    <img alt="" src="{{ asset('img/Dissidance_21.png') }}" style="width: 20vw; margin-bottom: 50px" />
</head>


    {% block content %}
        <div class="container-fluid">
            <div class="error">
                <h2 style="font-size: 25px">D I S S I D A N C E - Error</h2>
                <p>Oooops sorry ! An error occured. <br />
                    The server returned a "{{ status_code }} {{ status_text }}" <br />
                    Something is broken. We will fix it as soon as possible. <br />
                    We are sorry,<a href="{{ path('home') }}">click here</a> for home</p>
            </div>
    {% endblock %}