<!DOCTYPE html>
<html>
<head id="home">
    <meta charset="UTF-8" />
    <title>{% block title %}D I S S I D A N C E{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/tuile.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/testpola.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite|Cutive+Mono" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>


        <script type="text/javascript" src="{{ asset('js/lib/klass.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/code.photoswipe-3.0.5.min.js') }}"></script>

        <script>
            $(document).ready(function() {
                $('.js-scrollTo').on('click', function() { // Au clic sur un élément
                    var page = $(this).attr('href'); // Page cible
                    var speed = 750; // Durée de l'animation (en ms)
                    $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
                    return false;
                });
            });
        </script>
    {% endblock %}


    <link rel="icon" type="image/x-icon" href="{{ asset('img/Dissidance_21.png') }}" />
</head>

<body>
{% block menu %}
    <div class="menu_screenSm" >
        <div class="burger">
            <a href="#nav" id="button_burger"><img id="icon" src="{{ asset('img/burger.png') }}"></a>
            <ul id="nav">
                <li><a href="##" id="left_menu"></a></li>
                <li class="nav-li js-scrollTo"><a href="{{ path('home') }}">Home</a></li>
                <li class="nav-li js-scrollTo"><a href="#about_dissidance">About Dissidance</a></li>
                <li class="nav-li js-scrollTo"><a href="#intimate_clubbing">Intimate clubbing</a></li>
                <li class="nav-li js-scrollTo"><a href="{{ path('support') }}">support</a></li>
                <li class="nav-li js-scrollTo"><a href="{{ path('contactPFU') }}">I have the right place for you</a></li>
                <li class="nav-li js-scrollTo"><a href="{{ path('contact') }}">Contact</a>
                <li class="nav-li js-scrollTo" id="last_li"><a id="close_menu" href="##"><img src="{{ asset('img/cancel.png') }}"></a></li>
            </ul>
        </div>
    </div>
    <div class="menu_screenlg" >
        <div class="burger">
            <img id="icon" src="{{ asset('img/burger.png') }}">
            <div id="nav">
                <a class="js-scrollTo" href="{% block home_link %}#home{% endblock %}">Home</a><span>/</span>
                <a class="js-scrollTo" href="{% block about_link %}#about_dissidance{% endblock %}">About Dissidance</a><span>/</span>
                <a class="js-scrollTo" href="{% block intimate_link %}#intimate_clubbing{% endblock %}">Intimate clubbing</a><span>/</span>
                <a class="js-scrollTo" href="{{ path('support') }}">Support</a><span class="slash">/</span>
                <a class="js-scrollTo" href="{{ path('contactPFU') }}">I have the right place for you</a><span>/</span>
                <a class="js-scrollTo" href="{{ path('contact') }}">Contact</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% block header %}
        {% for flash_message in app.session.flashBag.get('contact-notice') %}
        <div class="contact-notice">
            {{ flash_message }}
        </div>
    {% endfor %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        <div class="footer">
        {{  render(url('new_mail'))  }}
            <div class="line"></div>
        </div>

    {% endblock %}
{% endblock %}

</body>

</html>
