<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/tuile.css') }}">



    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 tuile">
        <button class="button_thumb" type="button" data-toggle="modal" data-target="#tuile{{ loop.index }}">
        <div class="thumbnail">
            <img  class="thumbnail_img" src="{{ asset('uploads/imgCover/'~party.imgCover) }}" alt="#">
            <div class="caption">
                <div class="party_titles">
                    <h3 class="font_1">{{ party.title }}</h3>
                    <h4 class="font_1">{{ party.artist }}</h4>
                </div>
                <img class="ticket" src="{{ asset('img/stamp.png') }}">

            </div>
        </div>
        </button>

        <!-- Modal -->

        <div class="modal fade" id="tuile{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title font_1" id="myModalLabel">{{ party.title }}</h4>
                    </div>
                                    <img class="img-responsive img_modal" src="{{ asset('uploads/imgCover/'~party.imgCover) }}" alt="...">
                    <div class="modal-body txt_modal font_2">
                        {{ party.content }}
                    </div>
                    {{ party.soundcloud|raw }}
                </div>
            </div>
        </div>
    </div>


