{% extends 'baseAdmin.html.twig' %}

{% block content %}
    <h1>Party list</h1>
<div class="content">
    <table>
        <thead>
            <tr>

                <th>Id</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Place</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
        {% for party in party|reverse %}
            <tr>

                <td class="td_id"><a href="{{ path('party_show', { 'id': party.id }) }}">{{ party.id }}</a></td>
                <td class="td_title">{{ party.title }}</td>
                <td class="td_artist">{{ party.artist }}</td>
                <td class="td_plade">{{ party.place }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('party_show', { 'id': party.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('party_edit', { 'id': party.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li class="create">
            <a href="{{ path('party_new') }}">Create a new entry</a>
        </li>
    </ul>
</div>
{% endblock %}
