{% extends 'base.html.twig' %}

{% block stylesheets %}{{ parent() }}<link rel="stylesheet" href="{{ asset('css/contact.css') }}"> {% endblock %}

{% block title %}Contact{% endblock%}

{% block home_link %}
    {{ path('home') }}
{% endblock %}

{% block about_link %}
    {{ path('home') ~ '#about_dissidance' }}
{% endblock %}

{% block intimate_link %}
    {{ path('home') ~ '#intimate_clubbing' }}
{% endblock %}

{% block body %}
    <header>
        <h1 class="contact_title">I HAVE A RIGHT PLACE FOR YOU</h1>
    </header>

    {% for flash_message in app.session.flashBag.get('contact-notice') %}
        <div class="contact-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="container" style="width: 40%;">

        {{ form_start(form) }}


        {{form_label(form.name, 'Name')}}
        {{form_widget(form.name, {'attr':{'class':'form-control'}}) }}
        {{form_errors(form.name)}}

        {{form_label(form.email, 'E-mail')}}
        {{form_widget(form.email, {'attr':{'class':'form-control'}}) }}
        {{form_errors(form.email)}}

        {{form_label(form.message, 'Message')}}
        {{form_widget(form.message, {'attr':{'class':'form-control'}}) }}
        {{form_errors(form.message)}}

        {{form_label(form.picture, 'Picture')}}
        {{form_widget(form.picture)}}
        {{form_errors(form.picture)}}

        <div class="form-group"><input type="submit" value="Send" /></div>

        {{ form_end(form) }}


    </div>

{% endblock %}