{% extends 'base.html.twig' %}

{% block title %}S U P P O R T{% endblock %}
{% block home_link %}
    {{ path('home') }}
{% endblock %}

{% block about_link %}
    {{ path('home') ~ '#about_dissidance' }}
{% endblock %}

{% block intimate_link %}
    {{ path('home') ~ '#intimate_clubbing' }}
{% endblock %}

{% block content %}
    <body>
    <!--PRESENTATION VENTE TSHIRT-->

    <div class="container-fluid">
        <div id="about_support" class="about_support">
            <h2 class="titre_support" style="font-size: 25px">S U P P O R T </h2>
            <hr/>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-8">
                    <p class="about_content">Let’s share a piece of Dissidance. We love to make you party in some incredible and unexpected places. To be fair and stay in the clubbing intime mind, we will not change our prices.
                        Due to the demand, we try to organize more often parties. In this context we wanted you to know that we sell t-shirts during Dissidance’s parties.</p>
                </div>
                <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-2 col-xs-8">
                    <div class="polaroid-1" id="tampon1">
                        <img class="img-responsive" src="{{ asset('img/tampon-dissidance2.jpg') }}" alt="Dissidance stamp" style="width:100%">
                        <div class="container" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--GALLERY TSHIRT-->


    <div class="container-fluid">
        <div class="row_gallery_2">
            <div class="col-lg-5 col-lg-offset-4 col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-7 col-xs-offset-2 col-xs-8">
                <div class="polaroid-2">
                    <img class="img-responsive" src="{{ asset('img/vrac.jpg') }}" alt="man wearing a Dissidance t-shirt" style="width:100%">
                    <div class="container" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--PRESENTATION CROWFUNDING VINYLES-->

    <div class="container-fluid" id="vinyle">
        <div id="about_support" class="about_support">
            <h2 class="titre_vinyle" style="font-size: 25px">V I N Y L S</h2>
            <div class="row_vinyle2">
                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-8">
                    <p class="about_content">Dissidance is growin’up. A label is about to born and to celebrate we are going to launch some vinyls limited edition. Some of the dj’s we have collaborated with, will participate in this project. You will have the pleasure to find out some exclusive sets, only available in vinyl.</p>
                </div>
            </div>
            <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-2 col-xs-8">
                <div class="polaroid-1" id="platine2">
                    <img class="img-responsive" src="{{ asset('img/platine2.jpg') }}" alt="laptop and vinyl side by side" style="width:100%">
                    <div class="container" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="vinyle">
        <div id="about_vinyle" class="about_vinyle">
            <div class="row_vinyle">
                <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-8">
                    <div class="polaroid-2" id="platine1">
                        <img class="img-responsive" src="{{ asset('img/platine1.jpg') }}" alt="laptop and vinyl side by side" style="width:100%">
                        <div class="container" style="width:100%">
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-8">
                    <p class="about_content">To make it real we need you. Do you love Dissidance ? You want to be a part of this label ? You can make a donation right <strong><a href="http://www.paypal.me/annelf" target="_blank">here</a></strong>, even the tiniest one will be a huge step to move on.
                        For more informations on this, do not hesitate to contact us via our form.</a></strong></p>
                </div>
            </div>
        </div>
    </div>


    <!--GALLERY VINYLES-->

    <div class="container-fluid">
        <div class="row_gallery">
            <div class="col-lg-5 col-lg-offset-4 col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-8 col-xs-offset-2 col-xs-8">
                <div class="polaroid-3">
                    <img class="img-responsive" src="{{ asset('img/platine3.jpg') }}" alt="man taking a vinyl out of its cover" style="width:100%">
                    <div class="container" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}

{% block footer %}
{% endblock %}