{% extends 'base.html.twig' %}

{% block title %}S U P P O R T{% endblock %}
{% block home_link %}
    {{ path('home') }}
{% endblock %}

{% block about_link %}
    {{ path('home') ~ '#about_dissidance' }}
{% endblock %}

{% block intimate_link %}
    {{ path('home') ~ '#intimate_clubbing' }}
{% endblock %}

{% block content %}
    <body>
    <div class="container-fluid">
        <div id="about_dissidance" class="about_support">
            <h2 class="title-support">SUPPORT</h2>
            <div class="row">
                <div class="align_div">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 support">
                        <p class="about_content_first">Dear friends, <br />

                            we are planning for the year 2017 the launching of our first - and possibly - <br />
                            unique vinyl release. <br />
                            100 to perhaps 300 max hand-stamped and nominative copies.<br/></p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 support">
                        <img class="about_img photo_gray_scale" src="{{ asset('img/vinyle.jpg') }}" alt="photo of a vinyle">
                    </div>
                </div>
                <div class="align_div">
                    <div class="col-lg-push-6 col-lg-6 col-md-push-6 col-md-6 col-sm-12 col-xs-12 support">
                        <p class="about_content_second">This will be a 4 or 5 trackers various artists. <br />
                            We have awesome materials already and it is hard to choose what will <br />
                            be on it.
                            Eclecticism will prevail. <br />

                            Snippets available soon on our <a href="https://soundcloud.com/dissidance" target="_blank">Soundcloud</a></p>

                    </div>
                    <div class="col-lg-pull-6 col-lg-6 col-md-pull-6 col-md-6 col-sm-12 col-xs-12 support">
                        <img class="about_img photo_gray_scale" src="{{ asset('img/vrac.jpg') }}" alt="dissidance's t-shirts">
                    </div>
                </div>
                <div class="align_div">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 support">
                        <p class="about_content_third">Also, nice 100% cotton T-shirts and sweatshirts available if you <br/>
                            wanna show off a bit.

                            You can pre-order
                            all of this here by sending us a message
                            in the contact form. <br />

                            The Record
                            12e + shipping costs. <br />

                            The T-shirt
                            (Earth Positive 100% Cotton <br />
                            - ask us for size and color) :
                            12e + shipping costs. <br />

                            The Sweatshirt (pictures coming soon)
                            (Earth Positive 100% Cotton <br />
                            - ask us for size and color) :
                            22e + shipping costs. <br />


                            THANK YOU FOR YOUR SUPPORT</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 support">
                        <img class="about_img photo_gray_scale" src="{{ asset('img/tampon-dissidance-3.jpg') }}" alt="dissidance's official stamp">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}