{% extends 'base.html.twig' %}

{% block title %}S U P P O R T{% endblock %}

{% block header %}
    <header class="container_header">
        <div><img id="logo" src="{{ asset('img/Dissidance_21.png') }}"></div>
        <img class="scroll_down" src="{{ asset('img/down.png') }}">
    </header>
{% endblock %}

{% block content %}

    <!--PRESENTATION VENTE DES TSHIRTS-->

    <div class="container-fluid" class="about-content">
        <div id="about_support" class="about_support">
            <h2 style="font-size; 25px" class="title">S U P P O R T</h2>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4 ">
                    <p class="about_support_1">Quis enim aut eum diligat quem metuat, aut eum a quo se metui putet? Coluntur tamen simulatione dumtaxat ad tempus. Quod si forte, ut fit plerumque, ceciderunt, tum intellegitur quam fuerint inopes amicorum. Quod Tarquinium dixisse ferunt, tum exsulantem se intellexisse quos fidos amicos habuisset, quos infidos, cum iam neutris gratiam referre posset.</p>
                </div>
                <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-8 col-xs-8 ">
                    <div class="polaroid-1">
                        <img class="img-responsive" src="{{ asset('img/tampon-dissidance2.jpg') }}" alt="tampon dissidance" style="width:100%">
                        <div class="container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--GALLERY TSHIRT-->

    <div class="container-fluid">
        <div class="row_gallery">
            <div class="col-lg-4 col-lg-offset-1 col-md-4 col-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">
                <div class="polaroid-2">
                    <img class="img-responsive" src="{{ asset('img/vrac.jpg') }}" alt="t-shirts en vrac" style="width:100%">
                    <div class="container">
                    </div>
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4">
                <div class="polaroid-3">
                    <img class="img-responsive" src="{{ asset('img/tshirt1-resize.jpg') }}" alt="personne portant un t-shirt dissidance" style="width:100%">
                    <div class="container">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row_gallery_2">
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
                <div class="polaroid_1 rotate_right">
                    <img class="img-responsive" src="{{ asset('img/tshirt4-1.jpg') }}" alt="homme portant un tshirt dissidance" width="500" height="375">
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5">
                <div class="polaroid_2 rotate_left">
                    <img class="img-responsive" src="{{ asset('img/tshirt3-1.jpg') }}" alt="homme portant un tshirt dissidance" width="284" height="213">
                </div>
            </div>
        </div>
    </div>

    <!--PRESENTATION CROWFUNDING VINYLES-->

    <div class="container-fluid" class="about-content">
        <div id="about_vinyle" class="about_vinyle">
            <h2 style="font-size; 25px" class="title">VINYLES</h2>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4 ">
                    <p class="about_support_1">Quis enim aut eum diligat quem metuat, aut eum a quo se metui putet? Coluntur tamen simulatione dumtaxat ad tempus. Quod si forte, ut fit plerumque, ceciderunt, tum intellegitur quam fuerint inopes amicorum. Quod Tarquinium dixisse ferunt, tum exsulantem se intellexisse quos fidos amicos habuisset, quos infidos, cum iam neutris gratiam referre posset.</p>
                </div>
                <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-8 col-xs-8 ">
                    <div class="polaroid-1">
                        <img class="img-responsive" src="{{ asset('img/platine2.jpg') }}" alt="un ordinateur et une platine" style="width:100%">
                        <div class="container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--GALLERY VINYLES-->

    <div class="container-fluid">
        <div class="row_gallery">
            <div class="col-lg-5 col-lg-offset-1 col-md-4 col-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">
                <div class="polaroid-2">
                    <img class="img-responsive" src="{{ asset('img/platine1.jpg') }}" alt="pochette vinyle et platine" style="width:100%">
                    <div class="container">
                    </div>
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4">
                <div class="polaroid-3">
                    <img class="img-responsive" src="{{ asset('img/platine3.jpg') }}" alt="personne sortant un vinyle de sa pochette" style="width:100%">
                    <div class="container">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}